$dark-color: #131313;
$light-color: #fff;
$mid-color: #E3B873;
$li-color: #959595;
$project-color: rgba(255, 255, 255, 0.3);
$description-color: #363636;
$form-font-color: rgba(54, 54, 54, 0.3);
$form-label-light-color: rgba(255, 255, 255, 0.5);

$break-tablet: 980px;
$break-mobile: 375px;
$max-width: 1440px;
$current-width: 100vw;
$intro-height: 707px;
$completed-projects-height: 1074px;
$broadcast-form-height: 615px;
$types-container-height: 800px;
$measurement-form-container-height: 725px;
$style-choice-container-height: 1017px;
$design-choice-container-height: 590px;
$steps-container-height: 1615px;
$team-container-height: 643px;
$clients-container-height: 642px;
$questions-form-container-height: 445px;
$contacts-container-height: 100px;
$map-API-container-height: 465px;

@font-face {
  font-family: 'Proxima Nova';
  src: url('/RSSchool/repair-design-project/assets/fonts/ProximaNova-Regular.eot');
  src: url('/RSSchool/repair-design-project/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('/RSSchool/repair-design-project/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
      url('/RSSchool/repair-design-project/assets/fonts/ProximaNova-Regular.woff') format('woff'),
      url('/RSSchool/repair-design-project/assets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url('/RSSchool/repair-design-project/assets/fonts/FuturaBookC.eot');
  src: url('/RSSchool/repair-design-project/assets/fonts/FuturaBookC.eot?') format('embedded-opentype'),
      url('/RSSchool/repair-design-project/assets/fonts/FuturaBookC.woff2') format('woff2'),
      url('/RSSchool/repair-design-project/assets/fonts/FuturaBookC.woff') format('woff'),
      url('/RSSchool/repair-design-project/assets/fonts/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url('/RSSchool/repair-design-project/assets/fonts/FuturaDemiC.eot');
  src: url('/RSSchool/repair-design-project/assets/fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
      url('/RSSchool/repair-design-project/assets/fonts/FuturaDemiC.woff2') format('woff2'),
      url('/RSSchool/repair-design-project/assets/fonts/FuturaDemiC.woff') format('woff'),
      url('/RSSchool/repair-design-project/assets/fonts/FuturaDemiC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url('/RSSchool/repair-design-project/assets/fonts/FuturaMediumC.eot');
  src: url('/RSSchool/repair-design-project/assets/fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
      url('/RSSchool/repair-design-project/assets/fonts/FuturaMediumC.woff2') format('woff2'),
      url('/RSSchool/repair-design-project/assets/fonts/FuturaMediumC.woff') format('woff'),
      url('/RSSchool/repair-design-project/assets/fonts/FuturaMediumC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yeseva One';
  src: url('/RSSchool/repair-design-project/assets/fonts/YesevaOne.eot');
  src: url('/RSSchool/repair-design-project/assets/fonts/YesevaOne.eot?#iefix') format('embedded-opentype'),
      url('/RSSchool/repair-design-project/assets/fonts/YesevaOne.woff2') format('woff2'),
      url('/RSSchool/repair-design-project/assets/fonts/YesevaOne.woff') format('woff'),
      url('/RSSchool/repair-design-project/assets/fonts/YesevaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@mixin position-settings($position: static, $top: 0, $left: 0, $bottom: 0, $right: 0, $margin: 0) {
  position: $position;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  margin: $margin;
}

@mixin block-settings($display: block, $width: 10%, $height: 10%, $border: none, $border-radius: 0, $background-color: transparent) {
  display: $display;
  box-sizing: border-box;
  width: $width;
  height: $height;
  border: $border;
  border-radius: $border-radius;
  background-color: $background-color;
}

@mixin text-settings($font-family: sans-serif, $text-align: none, $text-transform: none, $font-size: 1em, $line-height: 1em, $color: $light-color) {
  font-family: $font-family;
  text-align: $text-align;
  text-transform: $text-transform;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin flex-settings($flex-direction: row, $flex-wrap: nowrap, $justify-content: center, $align-items: center, $align-content: center) {
  display: flex;
  flex-flow: $flex-direction $flex-wrap;
  justify-content:  $justify-content;
  align-items: $align-items;
  align-content: $align-content;
}

html {
  background-color: $li-color;
}

body {
  max-width: $max-width;
  width: $current-width;
  margin: 0 auto;
	background-color: $light-color;
	box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 1);
  @media screen and (max-width: $break-mobile) {
    width: $break-mobile;
    background-color: $dark-color;
  }
}

header, footer {
  background-color: $dark-color;
  height: 83px;
  .header-container{
    position: relative;
    left: 5.7%;
    top: 23.2%;
    width: 87%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    &__logo {
      font-family: "FuturaDemiC";
      font-size: 1em;
      line-height: 16px;
      height: 16px;
      color: $mid-color;
      text-transform: uppercase;
    };
    &__navigation {
      width: 46%;
        ul{
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        & li {    
          list-style: none;
          font-family: "FuturaBookC";
          font-size: 1em;
          color: $light-color;
          line-height: 16px;
          text-transform: uppercase;
          &:hover {
            color: $mid-color;
            cursor: pointer;
          }
        }
      }
      @media screen and (max-width: $break-mobile) {
        display: none;
        font-size: 0.8em;
      }
    }
    &__tel {
      color: $mid-color;
      font-size: 1em;
      font-family: "FuturaDemiC";
    }
    &__call-btn {
      border-radius: 2px;
      background-color: $mid-color;
      width: 161px;
      height: 37px;
      border: none;
      color: $light-color;
      font-size: 0.9em;
      line-height: 15px;
      font-family: "FuturaDemiC";
      text-transform: uppercase;
      &:hover {
        color: $dark-color;
      }
      @media screen and (max-width: $break-mobile) {
        display: none;
        font-size: 0.8em;
      }
    }
  }
  @media screen and (max-width: $break-mobile) {
    height: 57px;
  }
}

.intro-container {
  height: $intro-height;
  background-color: $dark-color;
  &__aside {
    width: 707px;
    height: 82px;
    transform: rotate(90deg);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    left: -312px;
    top: 313px;
    a {
      font-family: "FuturaDemiC";
      text-transform: uppercase;
      color: $mid-color;
      text-decoration: none;
    }
    img {
      transform: rotate(90deg);
      margin-left: 30px;
    }
    @media screen and (max-width: $break-mobile) {
      display: none;
    }
  }
  .image-wrapper {
    font-size: 40px;
    display: inline-block;
    position: relative;
    background-image: url("/RSSchool/repair-design-project/assets/images/intro.svg");
    width: 1358px;
    height: 100%;
    left: 82px;
    top: -83px;
    &__logo {
      @include position-settings(static, 0, 0, 0, 0, 14% 4.5% 0);
      @include text-settings("Yeseva One", left, uppercase, 1em, 1.325em, $light-color);
      @include block-settings(block, 90%, 12%);
      font-style: normal;
      font-weight: normal;
      span {
        color: $mid-color;  
      }
    }
    &__text {
      @include position-settings(static, 0, 0, 0, 0, 2% 4.5%);
      @include text-settings("FuturaBookC", left, normal, 0.55em, 1.325em, $light-color);
      @include block-settings(block, 37%, 12%);
      text-align: left;
      @media screen and (max-width: $break-mobile) {
        width: 55%;
      }
    }
    &__button {
      @include position-settings(static, 0, 0, 0, 0, 0 0 0 4.5%);
      @include text-settings("FuturaDemiC", center, normal, 0.325em, 0.4em, $light-color);
      @include block-settings(inline-block, 207px, 51px, 1px solid #FFFFFF, 2px);
      &:hover {
        background-color: $mid-color;
      }
      &:last-child {
        margin-left: 20px;
      }
      @media screen and (max-width: $break-mobile) {
        width: 338px;
        display: block;
        font-size: 13px;
        margin: 20px auto;
      }
    }
    @media screen and (max-width: $break-mobile) {
      width: 100%;
      position: static;
      font-size: 23px;
    }
  }
  &__scroll-button{
    @include position-settings(relative, -130px, 0, 0, 0, 0);
    @include block-settings(inline-block, 247px, 97px, none, none, $dark-color);
    @include text-settings("Yeseva One", center, uppercase, 14px, 19px, $light-color);
    @include flex-settings(row, nowrap, center, center, center);
    img {
      margin-left: 10px;
    }
    &:hover {
      color: $mid-color;
    }
    @media screen and (max-width: $break-mobile) {
      display: none;
    }
  }
  @media screen and (max-width: $break-mobile) {
    height: 471px;
  }
}

.completed-projects-container {
  font-size: 27px;
  height: $completed-projects-height;
  background-color: $dark-color;
  @include flex-settings(row, wrap, space-between, flex-start, stretch);
  &__navigation{
    @include block-settings(block, 43%, 24px);
    @include position-settings(relative, 9%, 0, 0, 0, 0 0 0 40%);
    ul { 
      @include text-settings("Yeseva One", center, uppercase, 0.51em, 0.7em, $project-color);
      @include flex-settings(row, nowrap, space-between);
      padding: 0;
      margin: 0;
      list-style: none;
      li:hover {
        color: $mid-color;
        text-decoration: underline;
      }
    } 
    @media screen and (max-width: $break-mobile) {
      display: none;
    }
  }
  &__introduction {
    @include block-settings(inline-block, 30%, 17%);
    @include position-settings(relative, 0, 0, 0, 0, 0 40px);
    h2 {
      width: 200px;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      @include text-settings("Yeseva One", left, uppercase, 1em, 1.37em, $mid-color);
      @media screen and (max-width: $break-mobile) {
        text-align: center;
        width: 60%;
        height: 60px;
        margin: auto;
      }
    }
    p {
      @include text-settings("FuturaBookC", left, none, 0.66em, 1.4em, $light-color);
      @media screen and (max-width: $break-mobile) {
        text-align: center;
        width: 82%;
        margin: 30px auto auto auto;
      }
    }
    @media screen and (max-width: $break-mobile) {
      text-align: center;
      width: 100%;
      height: 175px;
      margin: 5% 0 0 0;
    }
  }
  &__slider-list {
    @include block-settings(inline-block, 30%, 200px);
    position: relative;
    top: -415px;
    ul {
      list-style: none;
      @include flex-settings(row, wrap, space-around, flex-start, space-between);
      li {
        width: 50%;
        h3 {
          @include text-settings("Yeseva One", left, uppercase, 0.66em, 0.9em, $mid-color);
          font-style: normal;
          font-weight: normal;
        }
        p {
          @include text-settings("Yeseva One", left, none, 0.55em, 1.3em, $light-color);
          width: 140px;
        }
      }
    }
    &_pagination {
      margin-left: 40px;
      &_circle {
        margin: 0 25px;
        &:nth-child(3n) {
          margin: 0;
        }
      }
      &_arrow {
        opacity: 0.5;
        &:first-child {
          transform: rotate(180deg);
        }
        &:hover {
          opacity: 1;
        }
      }
      @media screen and (max-width: $break-mobile) {
        display: none;
      }
    }
    @media screen and (max-width: $break-mobile) {
      height: 146px;
      width: 100%;
      top: 0;
      ul {
        margin: 0;
        padding-left: 5%;
      }
    }
  }
  &__slider-images {
    @include block-settings(inline-block, 60%, 482px);
    position: relative;
    &_list {
      display: flex;
      overflow: hidden;
      img {
        position: relative;
        flex-shrink: 0;
        display: inline-block;
        margin: 0;
        @media screen and (max-width: $break-mobile) {
          width: 100%;
          height: 100%;
        }
      }
      img:last-child {
        margin-left: 2%;
      }
    }
    &_button {
      @include block-settings(inline-block, 55px, 55px, none, 50%, $mid-color);
      @include position-settings(absolute, 42%, 88%);
      background: #E3B873;
      padding: 0;
      &:hover {
        box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
      }
      &:first-of-type {
        @include position-settings(absolute, 42%, 12%);
        transform: rotate(180deg);
        display: none;
        @media screen and (max-width: $break-mobile) {
          display: inline-block;
          left: 4%;
        }
      }
      @media screen and (max-width: $break-mobile) {
        width: 36px;
        height: 36px;
        left: 85%;
      }
    }
    @media screen and (max-width: $break-mobile) {
      width: 90%;
      height: 241px;
    }
  }
  @media screen and (max-width: $break-mobile) {
    font-size: 22px;
    height: 700px;
    justify-content: center;
  }
}

.broadcast-form-container {
  @include flex-settings(column, nowrap, space-between, center, space-between);
  font-size: 20px;
  height: $broadcast-form-height;
  &__logo {
    @include position-settings(relative, -60%);
    @include text-settings("Yeseva One", center, uppercase, 1em, 1.4em, $light-color);
    font-style: normal;
    font-weight: normal;
    @media screen and (max-width: $break-mobile) {
      position: static;
    }
  }
  .camera-img-wrapper {
    @include position-settings(relative, -55%);
    display: flex;
    justify-content: space-between;
    width: 120px;
    &__vector {
      transform: rotate(90deg);
    }
    @media screen and (max-width: $break-mobile) {
      position: static;
    }
  } 
  &__video {
    @include position-settings(relative, -50%); 
    flex-shrink: 0;
    width: 56.7%;
    height: 434px;
    @media screen and (max-width: $break-mobile) {
      width: 340px;
      height: 207px;
      position: static;
    }
  }
  &__vector {
    @include position-settings(relative, -45%); 
    transform: rotate(90deg);
    @media screen and (max-width: $break-mobile) {
      position: static;
    }
  } 
  &__description {
    @include text-settings("FuturaBookC", center, none, 1em, 1.7em, $description-color);
    @include position-settings(relative, -45%); 
    width: 47%;
    @media screen and (max-width: $break-mobile) {
      width: 90%;
      font-size: 0.63em;
      color: $light-color;
      position: static;
    }
  }
  &__form {
    @include flex-settings(row, wrap, space-around, space-between, space-between);
    @include position-settings(relative, -35%); 
    width: 53%;
    height: 102px;
    flex-shrink: 0;
    &_name-input,
    &_number-input {
      @include flex-settings(column, wrap, space-around);
      width: 230px;
      height: 50px;
      label {
        width: 100%; 
        float: left;
        @include text-settings("FuturaBookC", left, none, 0.75em, 1em, $form-font-color);
        @media screen and (max-width: $break-mobile) { 
          color: rgba(255, 255, 255, 0.5);
          font-size: 15px;
        }
      }
      input {
        @include text-settings("FuturaBookC", left, none, 0.9em, 1em, $dark-color);
        width: 100%;
        display: block;
        border: none;
        border-bottom: 1px solid $form-font-color;
        @media screen and (max-width: $break-mobile) { 
          color: $light-color;
          font-size: 18px;
          background-color: transparent;
          border-bottom: 1px solid $light-color;
        }
      }
      @media screen and (max-width: $break-mobile) { 
        width: 100%;
      }
    }
    &_submission {
      @media screen and (max-width: $break-mobile) {
        width: 100%;
      }
      input{
        @include text-settings("FuturaDemiC", center, uppercase, 0.75em, 1em, $light-color);
        @include block-settings(inline-block, 200px, 51px, none, px, $mid-color);
        &:hover {
          box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
        }
        @media screen and (max-width: $break-mobile) {
          font-size: 15px;
          width: 100%;
          position: relative;
          top: 100px;
        }
      }
    }
    &_agreement {
      width: 320px;
      height: 18px;
      @include text-settings("FuturaDemiC", left, none, 0.8em, 1em, $dark-color);
      &_check {
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 20px;
      }
      &_check + &_text:before {
        content: '';
        position: absolute;
        left: 200px;
        width: 18px;
        height: 18px;
        background: #CDD1DA;
        @media screen and (max-width: $break-mobile) { 
          left: 0px;
        }
      }
      &_check:checked + &_text:before {
        background: url('/RSSchool/repair-design-project/assets/images/Checkbox.svg');
      }
      &_check:checked + &_text:after {
        left: 26px;
      }
      @media screen and (max-width: $break-mobile) { 
        text-align: center;
        color: $light-color;
        font-size: 16px;
        width: 100%;
        position: relative;
        bottom: 130px;
      }
    }
    @media screen and (max-width: $break-mobile) {
      width: 90%;
      height: 340px;
      font-size: 0.63em;
      position: static;
    }
  }
  @media screen and (max-width: $break-mobile) {
    font-size: 22px;
    height: 850px;
  }
}

.types-container {
  height: $types-container-height;
  font-size: 20px;
  &__logo {
    @include text-settings("Yeseva One", center, uppercase, 1em, 1.4em, $dark-color);
    @include block-settings(inline-block, 100%, 1em, none, none, transparent);
    @media screen and (max-width: $break-mobile) {
      margin-top: 80px;
    }
  };
  &__icon {
    @include block-settings(block, 100%, 1.4em, none, none, transparent)
  }
  .types {
    @include flex-settings(row, wrap, space-between, center, center);
    @include position-settings(static, 0, 0, 0, 0, 30px auto);
    margin: 30px 100px;
    &__item {
      @include block-settings(inline-block, 32%, 613px, none, none, none);  
      &_img {
        @include block-settings(block, 100%, 69%, none, none);
      }
      &_list {
        @include block-settings(block, 84%, 47%, none, none, $light-color);
        @include position-settings(relative, -127px, 0, 0, 0, 0 auto);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        h3 {
          @include text-settings("Yeseva One", left, none, 0.9em, 1em‬, $dark-color);
          @include position-settings(relative, 5px, -17px, 0, 0, 0);
          font-style: normal;
          font-weight: normal;
        }
        li {
          @include text-settings("FuturaBookC", left, none, 0.75em, 1.25em‬, $li-color);
          margin-top: 10px;
        }
        @media screen and (max-width: $break-mobile) {
          margin-left: 0;
        }
      }
      &_cost {
        @include block-settings(flex, 58%, 9%, none, none, $mid-color);
        @include flex-settings(row, nowrap, center, center, center);
        @include position-settings(relative, -155px, 0, 0, 0, 0 0 0 8%);
        @include text-settings("Yeseva One", center, uppercase, 0.9em, 1.25em, $light-color);
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
        @media screen and (max-width: $break-mobile) {
          margin-left: 0;
        }
      }
      @media screen and (max-width: $break-mobile) {
        width: 95%;
      }
    }
    @media screen and (max-width: $break-mobile) {
      @include flex-settings(column, nowrap, space-between, center, space-between);
      margin: 10px 20px;
    }
  }
  @media screen and (max-width: $break-mobile) {
    height: 2030px;
    background-color: $light-color;
  }
}

.measurement-form-container {
	height: $measurement-form-container-height;
	font-size: 20px;
	background-image: url('/RSSchool/repair-design-project/assets/images/Building-back.svg');
	background-repeat: no-repeat;
	background-position: left top;
	display: flex;
	justify-content: space-around;
	.circles-wrapper {
		@include block-settings(inline-block, 780px, 690px);
	}
	.form-and-advice-wrapper {
		&__form {
			@include block-settings(flex, 506px, 509px, none, none, $dark-color);
			@include flex-settings(row, wrap, space-around, space-between, space-around);
			flex-shrink: 0;
			&_description {
				@include text-settings("FuturaDemiC", center, none, 1em, 1.25em, $light-color);
				width: 50%;
			}
			&_name-input,
			&_number-input,
			&_mail-input {
				@include flex-settings(column, wrap, space-around);
				width: 80%;
				height: 50px;
				label {
					width: 100%; 
					float: left;
					@include text-settings("FuturaBookC", left, none, 0.75em, 1em, $form-label-light-color);
				}
				input {
					@include text-settings("FuturaBookC", left, none, 0.9em, 1em, $form-label-light-color);
					@include block-settings(block, 100%, none, none, none, transparent);
					border-bottom: 1px solid $form-label-light-color;
				}
			}
			&_submission {
				@media screen and (max-width: $break-mobile) {
					width: 100%;
				}
				input{
					@include text-settings("FuturaDemiC", center, uppercase, 0.75em, 1em, $light-color);
					@include block-settings(inline-block, 200px, 51px, none, px, $mid-color);
					&:hover {
						box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
					}
					@media screen and (max-width: $break-mobile) {
						font-size: 15px;
						width: 100%;
						position: relative;
						top: 100px;
					}
				}
			}
			&_agreement {
				width: 320px;
				height: 18px;
				@include text-settings("FuturaDemiC", left, none, 0.8em, 1em, $light-color);
				&_check {
					position: absolute;
					z-index: -1;
					opacity: 0;
					margin: 10px 0 0 20px;
				}
				&_check + &_text:before {
					content: '';
					position: absolute;
					width: 18px;
					height: 18px;
					background: #CDD1DA;
				}
				&_check:checked + &_text:before {
					background: url('/RSSchool/repair-design-project/assets/images/Checkbox.svg');
				}
				&_check:checked + &_text:after {
					left: 26px;
				}
			}
		}
		&__advice {
			@include block-settings(flex, 325px, 100px);
			margin: 30px auto;
			&_img {
				height: 100px;
				width: 100px;
			}
			&_text {
				@include text-settings("FuturaDemiC", left, none, 1em, 1.25em, $mid-color);
				display: inline-block;
				width: 334px;
			}
		}
	}
  @media screen and (max-width: $break-mobile) {
    display: none;
  }
}

.style-choice-container {
  @include flex-settings(row, nowrap, space-around, center);
  height: $style-choice-container-height;
	background-color: $light-color;
	background-image: url('/RSSchool/repair-design-project/assets/images/Style-choice-back.svg');
	background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  font-size: 27px;
  .choice-list-wrapper {
    @include block-settings(flex, 30%, 630px);
    flex-direction: column;
    &__logo {
      @include text-settings("Yeseva One", left, uppercase, 1em, 1.5em, $mid-color);
      width: 100%;
      @media screen and (max-width: $break-mobile) {
        text-align: center;
      }
    }
    &__list {
      @include flex-settings(column, nowrap, space-between, space-between, space-between);
      height: 510px; 
      padding: 0;
      &_item {
        @include text-settings("Proxima Nova", left, none, 0.74em, 1.5em, $light-color);
        list-style: none;
        cursor: pointer;
        &:hover {
          color: $mid-color;
          text-decoration: underline;
        }
      }
      @media screen and (max-width: $break-mobile) {
        display: none;
      }
    }
    @media screen and (max-width: $break-mobile) {
      width: 100%;
    }
  }
  .style-images-wrapper {
    @include block-settings(flex, 51%, 100%);
    &__list {
      @include flex-settings(column, wrap, space-between, space-between, space-between);
      width: 100%;
      &_item {
        &:first-child {
          margin-top: 50px;
        } 
        &:last-child {
          margin-bottom: 50px;
        } 
        @media screen and (max-width: $break-mobile) {
          display: none;
        }
      }
      @media screen and (max-width: $break-mobile) {
        display: none;
      }
    }
    &__slider-images {
      display: none;
      @media screen and (max-width: $break-mobile) {
        @include block-settings(inline-block, 100%, 242px);
        position: relative;
        &_list {
          display: flex;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            position: relative;
            flex-shrink: 0;
            display: inline-block;
            margin: 0;
          }
        }
        &_button {
          @include block-settings(inline-block, 36px, 36px, none, 50%, $mid-color);
          @include position-settings(absolute, 42%, 85%);
          background: #E3B873;
          padding: 0;
          &:hover {
            box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
          }
          &:first-of-type {
            @include position-settings(absolute, 42%, 4%);
            transform: rotate(180deg);
            display: inline-block;
          }
        }
      }
    }
    @media screen and (max-width: $break-mobile) {
      width: 340px;
    }
  }
  @media screen and (max-width: $break-mobile) {
    background-color: $light-color;
    background-image: none;
    height: 242px;
    font-size: 22px;
    @include flex-settings(column, nowrap, space-between, space-between);
  }
}

.design-choice-container {
  height: $design-choice-container-height;
  font-size: 20px;
  &__logo {
    @include text-settings("Yeseva One", center, uppercase, 1em, 1.4em, $dark-color);
    @include block-settings(inline-block, 100%, 1em, none, none, transparent);
    font-style: normal;
    font-weight: normal;
    margin-top: 8%;
    @media screen and (max-width: $break-mobile) {
      margin-top: 40%;
      color: $light-color;
    }
  };
  &__icon {
    @include block-settings(block, 100%, 1.4em, none, none, transparent)
  }
  &__description {
    @include text-settings("FuturaBookC", center, none, 1em, 1.7em, $description-color);
    margin: 25px auto;
    width: 47%;
    @media screen and (max-width: $break-mobile) {
      width: 60%;
      margin-bottom: 0;
      font-size: 0.63em;
      color: $light-color;
      position: static;
    }
  }
  .types {
    @include flex-settings(row, wrap, space-between, center, center);
    @include position-settings(static, 0, 0, 0, 0, 30px auto);
    margin: 30px 100px;
    &__item {
      @include block-settings(inline-block, 32%, 613px, none, none, none);  
      &_img {
        @include block-settings(block, 100%, 69%, none, none);
      }
      &_list {
        @include block-settings(block, 84%, auto, none, none, $light-color);
        @include position-settings(relative, -127px, 0, 0, 0, 0 auto);
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
        padding-bottom: 60px;
        h3 {
          @include text-settings("Yeseva One", left, none, 0.9em, 1em‬, $dark-color);
          @include position-settings(relative, 5px, -17px, 0, 0, 0);
          padding-top: 25px;
          font-style: normal;
          font-weight: normal;
        }
        li {
          @include text-settings("FuturaBookC", left, none, 0.75em, 1.25em‬, $li-color);
          margin-top: 10px;
        }
        @media screen and (max-width: $break-mobile) {
          margin-left: 0;
        }
      }
      &_cost {
        @include block-settings(flex, 58%, 9%, none, none, $mid-color);
        @include flex-settings(row, nowrap, center, center, center);
        @include position-settings(relative, -155px, 0, 0, 0, 0 0 0 8%);
        @include text-settings("Yeseva One", center, uppercase, 0.9em, 1.25em, $light-color);
        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
        @media screen and (max-width: $break-mobile) {
          margin-left: 0;
        }
      }
      @media screen and (max-width: $break-mobile) {
        width: 95%;
      }
    }
    @media screen and (max-width: $break-mobile) {
      @include flex-settings(column, nowrap, space-between, center, space-between);
      margin: 10px 20px;
    }
  }
  @media screen and (max-width: $break-mobile) {
    height: 2420px;
  }
}

.steps-container {
  height: $steps-container-height;
  background-color: $dark-color;
  @media screen and (max-width: $break-mobile) {
    display: none;
  }
}

.team-container {
  height: $team-container-height;
  background-color: $dark-color;
  font-size: 20px;
  &__logo {
    @include text-settings("Yeseva One", center, uppercase, 1em, 1.4em, $light-color);
    @include block-settings(inline-block, 100%, 1em, none, none, transparent);
    font-style: normal;
    font-weight: normal;
    margin-top: 8%;
  };
  &__icon {
    @include block-settings(block, 100%, 1.4em, none, none, transparent)
  }
  &__description {
    @include text-settings("FuturaBookC", center, none, 1em, 1.7em, $light-color);
    margin: 25px auto;
    width: 33%;
    &:last-child {
      color: $description-color;
      margin-top: 0;
      @media screen and (max-width: $break-mobile) {
        display: none;
      }
    }
    @media screen and (max-width: $break-mobile) {
      width: 90%;
      margin-bottom: 0;
      font-size: 0.63em;
    }
  }
  .members {
    @include flex-settings(row, wrap, space-between, center, center);
    @include position-settings(static, 0, 0, 0, 0, 30px auto);
    margin: 50px 100px;
    margin-bottom: 0;
    &__item {
      @include block-settings(inline-block, 22%, 450px, none, none, none);  
      &_img {
        @include block-settings(block, 100%, auto, none, none);
      }
      &_list {
        @include block-settings(block, 85%, auto, none, none, $light-color);
        @include position-settings(relative, -80px, 0, 0, 0, 0 auto);
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
        &_name {
          @include text-settings("Yeseva One", center, none, 0.9em, 1.25em‬, $dark-color);
          padding-top: 22px;
          margin-bottom: 0;
          font-style: normal;
          font-weight: normal;
        }
        &_position {
          @include text-settings("FuturaBookC", center, none, 0.9em, 1.25em‬, $li-color);
          padding-bottom: 24px;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      &_experience {
        @include block-settings(flex, 85%, 44px, none, none, $mid-color);
        @include flex-settings(row, nowrap, center, center, center);
        @include text-settings("Yeseva One", center, uppercase, 0.65em, 1em, $light-color);
        @include position-settings(relative, -80px, 0, 0, 0, 0 auto);
      }
      &_icon {
        @include block-settings(flex, 70px, 70px, none, none, $mid-color);
        @include flex-settings(row, nowrap, center, center, center);
        @include position-settings(relative, -121%, -35px, 0, 0);
        box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
        @media screen and (max-width: $break-mobile) {
          top: -130%;
        }
        
      }
      @media screen and (max-width: $break-mobile) {
        width: 90%;
        margin-left: 30px;
        margin-top: 40px;
      }
    }
    @media screen and (max-width: $break-mobile) {
      @include flex-settings(column, nowrap, space-between, center, space-between);
      height: 87%;
      margin: 35px 20px;
    }
  }
  &__vector {
    @include position-settings(static, 0, 0, 0, 0, 0 auto); 
    display: block;
    transform: rotate(90deg);
    @media screen and (max-width: $break-mobile) {
      display: none;
    }
  }
  @media screen and (max-width: $break-mobile) {
    font-size: 22px;
    height: 1800px;
  }
}

.clients-container {
  height: $clients-container-height;
  @media screen and (max-width: $break-mobile) {
    display: none;
  }
}

.questions-form-container {
  height: $questions-form-container-height;
  background-color: $dark-color;
  @media screen and (max-width: $break-mobile) {
    height: 550px;
  }
}

.contacts-container {
  height: $contacts-container-height;
  background-color: $dark-color;
}

.map-API-container {
  height: $map-API-container-height;
}